{% extends 'base.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 rounded-3">
        <li class="breadcrumb-item">
            <a class="link-body-emphasis" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                </svg>
                <span class="visually-hidden">Главная</span>
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Профиль
        </li>
    </ol>
</nav>
{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
        <main>
            <div class="py-5 text-center">
                {% if app.user.avatarName == null %}
                    <img src="https://ui-avatars.com/api/?background=0D8ABC&color=fff&name={{ app.user.userName }}" alt="mdo" width="150" height="150" class="rounded-circle">
                {% else %}
                    <img src="{{ vich_uploader_asset(app.user) }}" alt="mdo" width="160" height="160" class="rounded-circle">
                {% endif %}
                <div class="py-4 align-items-center">
                    <a href="{{ path('post_new') }}" class="btn btn-outline-light">Написать статью</a>
                </div>
                <h2 class = "py-4">Профиль {{ app.user.userName }}</h2>
                <p class="lead">Привет, {{ app.user.userName }}! Ниже ты можешь увидеть все данные, которые были введены при регистрации и которые система присвоила тебе автоматически.</p>
            </div>

            <div class="g-5 row justify-content-center">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th scope="row">Никнейм</th>
                        <td>{{ app.user.userName }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Почта</th>
                        <td>{{ app.user.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Время регистрации</th>
                        <td colspan="2">{{ app.user.date |date('d-m-Y H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Статус профиля</th>
                        {% if app.user.isVerified == 1 %}
                        <td colspan="2"><span class="badge text-bg-success">Подтвержден</span></td>
                        {% else %}
                        <td colspan="2"><span class="badge text-bg-secondary">Не подтверждён</span></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Уровень</th>
                        {% if app.user.roles[0] == 'ROLE_USER' %}
                            <td colspan="2"><span class="badge text-bg-primary">Рядовой пользователь</span></td>
                        {% else %}
                            <td colspan="2"><span class="badge text-bg-success">Босс</span></td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
{% endblock %}
