{% extends 'base.html.twig' %}

{% block title %}Статьи{% endblock %}

{% block body %}
<div class="bg-body-tertiary">

    <header class="py-5 border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Добро пожаловать в раздел "Статьи"</h1>
                <p class="lead mb-0">Просмотриваете, создавайте и комментируйте статьи или ищите нужную через поиск в шапке сайта</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            {% for post in pagination %}
                {% if post.id / 3 == 1 %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <a href="{{ path('post_show', {'slug': post.slug}) }}"><img src="{{ vich_uploader_asset(post) }}" alt="mdo" class="img-fluid mb-3"></a>
                            <div class="card-body">
                                <div class="small text-muted my-2">{{ post.createdAt |date('d.m.Y H:i:s') }}</div>
                                <h2 class="card-title h4 mb-3">{{ post.title }}</h2>
                                <p class="card-text">{{ post.description }}</p>
                                <a href = "{{ path('post_show', {'slug': post.slug}) }}" class="btn btn-primary">Читать далее →</a>
                            </div>
                        </div>
                    </div>
                {% elseif post.id / 3 == 2 %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <a href="{{ path('post_show', {'slug': post.slug}) }}"><img src="{{ vich_uploader_asset(post) }}" alt="mdo" class="img-fluid mb-3"></a>
                            <div class="card-body">
                                <div class="small text-muted my-2">{{ post.createdAt |date('d.m.Y H:i:s') }}</div>
                                <h2 class="card-title h4 mb-3">{{ post.title }}</h2>
                                <p class="card-text">{{ post.description }}</p>
                                <a href = "{{ path('post_show', {'slug': post.slug}) }}" class="btn btn-primary">Читать далее →</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <a href="{{ path('post_show', {'slug': post.slug}) }}"><img src="{{ vich_uploader_asset(post) }}" alt="mdo" class="img-fluid mb-3"></a>
                            <div class="card-body">
                                <div class="small text-muted my-2">{{ post.createdAt |date('d.m.Y H:i:s') }}</div>
                                <h2 class="card-title h4 mb-3">{{ post.title }}</h2>
                                <p class="card-text">{{ post.description }}</p>
                                <a href = "{{ path('post_show', {'slug': post.slug}) }}" class="btn btn-primary">Читать далее →</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                Похоже ни одной статьи нет...
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
