<!DOCTYPE html>
<html lang="ru" class = "h-100" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body class = "">

<header class="p-3 text-bg-dark border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link text-lead text-white">Главная</a></li>
                <li><a href="/blog" class="nav-link px-4 text-secondary">Статьи</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="{{ path('search') }}" method="get">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Поиск..." aria-label="Поиск" name = "q">
            </form>

            <div class="text-end">
                {% if is_granted('IS_AUTHENTICATED') %}
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if app.user.avatarName == null %}
                                <img src="https://ui-avatars.com/api/?background=0D8ABC&color=fff&name={{ app.user.userName }}" alt="mdo" width="32" height="32" class="rounded-circle">
                            {% else %}
                                <img src="{{ vich_uploader_asset(app.user) }}" alt="mdo" width="40" height="40" class="rounded-circle">
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu text-small" style="">
                            <li><a class="dropdown-item" href="/profile">Профиль</a></li>
                            <li><a class="dropdown-item" href="#">Мои статьи</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href="/register" class="btn btn-outline-light me-2">Регистрация</a>
                    <a href="/login" class="btn btn-warning">Войти</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<div class="container">
{% block breadcrumb %}{% endblock %}
</div>
{% block body %}{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>